
h2 {
    text-align:center;
	font-family:times;
}

#operator_container{
	margin-left: 2vw;
	margin-right: 2vw;
	display:block;
}

.operator_subcontainer {
    display: block;
    margin-bottom: 5vh;
}

.operator_info_container {
    display: block;
    margin-bottom: 5vh;
}

.operator_info{
    display: inline-block;
    margin-left: 3vw;
    margin-right: 1vw;
    font-size: 1.5rem;
}

.operator{
	position: relative;
	display:block;
	overflow-x: scroll;
	white-space: nowrap;
}