#all_operons_container {
    width: 90vw;
}

.operon_description{
    width: 19%;
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    vertical-align: middle;
}

.operon_graphic{
    display: inline-block;
    width: 75%;
    margin-left: 5%;
}

.operonContainer{
	width: 90vw;
	padding-top: 3vh;
    display: inline-block;
	height:30vh;
}

.operon_scroll_container{
	width: 90vw;
	padding-top: 3vh;
    display: inline-block;
    overflow-y: scroll;
    border-top: 1px solid black;
}

.spacer{
	display: block;
	height: 20vh;
}

.Rgene{
	height: 40px;
	display: inline-block;
	position: relative;
	z-index: 1;
}


.Rgene:before{
	content:"";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: var(--color);
	border-top: 20px solid white;
	border-bottom: 20px solid white;
	z-index: 2;
}

.Rgene .description {
	visibility: hidden;
	width: 9rem;
	text-align: center;
	padding: 5px 0;
	border: 1px solid black;
	border-radius: 3px;
	border-color: #225470;
	position: absolute;
	top: 250%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	color: black;
}

.Rgene:hover .description {
	visibility: visible;
}

.Lgene {
	height: 40px;
	display: inline-block;
	position: relative;
	z-index:1;
}

.Lgene:after{
	content:"";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-right: var(--color);
	border-top: 20px solid white;
	border-bottom: 20px solid white;
	z-index: 2;
}

.Lgene .description {
	visibility: hidden;
	width: 9rem;
	text-align: center;
	padding: 5px 0;
	border: 1px solid black;
	border-radius: 3px;
	border-color: #225470;
	position: absolute;
	top: 250%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	color: black;
}

.Lgene:hover .description {
	visibility: visible;
}
